# Lab 2 - Perform Selection, Reindexing and sorting in Pandas

In [1]:
import pandas as pd

In [2]:
info=pd.DataFrame({"P":[4,7,1,8,9],"Q":[2,9,6,8,0],"R":[11,7,5,3,1],"S":[21,2,1,12,9]},index=["Madhav","Rahul","Rohit","Kuldeep","Virat"])
info

         P  Q   R   S
Madhav   4  2  11  21
Rahul    7  9   7   2
Rohit    1  6   5   1
Kuldeep  8  8   3  12
Virat    9  0   1   9

In [4]:
info.reindex(["A","B","C","D","E"])

    P   Q   R   S
A NaN NaN NaN NaN
B NaN NaN NaN NaN
C NaN NaN NaN NaN
D NaN NaN NaN NaN
E NaN NaN NaN NaN

In [5]:
info.reindex(["A","B","C","D","E"],fill_value=100)

     P    Q    R    S
A  100  100  100  100
B  100  100  100  100
C  100  100  100  100
D  100  100  100  100
E  100  100  100  100

# Program 2 - Pandas Sort

In [15]:
import numpy as np
random = np.random.randn(10,2)
random

array([[-0.74199953,  1.27681392],
       [-0.56318907,  1.10116075],
       [-0.28781804,  0.43689153],
       [ 0.04392859, -0.11893983],
       [-0.46112938, -1.33504205],
       [-0.24442564, -0.02557252],
       [ 0.16701722, -0.91427205],
       [ 1.40325881, -2.24892436],
       [ 0.71674674, -0.1972422 ],
       [-0.09289804,  0.5549968 ]])

In [16]:
random = np.random.randn(10,2)
rand_int = np.random.randint(1,10,size=(3,3))
rand_int

array([[8, 6, 6],
       [6, 2, 5],
       [6, 6, 2]])

In [22]:
random = np.random.randn(10,2)
rand_int = np.random.randint(1,10,size=(3,3))
rand_int
df=pd.DataFrame(rand_int)
df

   0  1  2
0  8  5  3
1  6  4  1
2  5  6  4

In [23]:
import pandas as pd
import numpy as np

In [30]:
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,5,7,8,2,3,6,9,1],columns=['col1','col2'])
unsorted_df
sorted_df=unsorted_df.sort_index()
print (sorted_df)

       col1      col2
1  0.081478 -1.537175
1 -0.608193 -0.964705
2  0.946920 -0.100368
3 -0.468468 -0.776402
4 -0.313217 -0.976933
5  0.698638  0.096662
6  0.005044 -0.322138
7  0.774257 -0.469891
8 -0.576175  1.143024
9  0.373195  0.481081

In [31]:
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,5,7,8,2,3,6,9,1],columns=['col1','col2'])
unsorted_df
sorted_df=unsorted_df.sort_index(ascending=False)
print (sorted_df)

       col1      col2
9 -0.258740 -0.845440
8  0.415801 -0.886954
7 -0.765698  0.344718
6  1.060690 -1.097911
5  0.534094 -1.749624
4  1.096125  1.272249
3  0.409718 -1.799692
2  0.263857 -0.846652
1  0.572038  0.949049
1 -0.450923  0.566670

In [35]:
c

       col1      col2
1  0.825443 -1.897437
4 -0.396027  0.204882
5  1.454741 -1.686881
7 -0.738266 -0.561506
8 -0.210968 -0.154661
2 -0.709760 -0.219958
3  2.172873 -0.263277
6  0.047039  0.218601
9  1.002853 -0.832953
1 -0.702320  1.081068

In [36]:
unsorted_df=pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
unsorted_df
sorted_df=unsorted_df.sort_values(by='col1')
print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1