# Lab 2 - CRUD Operation of MongoDB Using Python

In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

# Creating new database and collection in MongoDB

In [3]:
infosys_db=myclient["infosys_db"]

In [4]:
emp_coll=infosys_db['emp_coll']

# However, the database and the collection are not created using them.lets fill them with data.

In [5]:
document = {
    "Name":"Madhav",
    "Age":20,
    "State":"Gujarat",
    "City":"Surat",
    "Profile":"Developer",
    "Salary":20000,
    "Experience":3,
    "Skills":["PHP","MySQL","Python"]
}

In [6]:
emp_coll.insert_one(document)

In [7]:
emp_data=[
    {
    "Name":"Madhav",
    "Age":20,
    "State":"Gujarat",
    "City":"Surat",
    "Profile":"Developer",
    "Salary":20000,
    "Experience":3,
    "Skills":["PHP","MySQL","Python"]
    },
    {
    "Name":"Dharmik",
    "Age":20,
    "State":"Gujarat",
    "City":"Surat",
    "Profile":"Developer",
    "Salary":110000,
    "Experience":3,
    "Skills":["PHP","MySQL","HTML"]
    },
    {
    "Name":"Vivek",
    "Age":20,
    "State":"Gujarat",
    "City":"Surat",
    "Profile":"Developer",
    "Salary":10000,
    "Experience":3,
    "Skills":["PHP","HTML"]
    }
]

In [9]:
emp = emp_coll.insert_many(emp_data)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': ObjectId('652a5665e9bbecdaa7edc4be')}, 'errmsg': "E11000 duplicate key error collection: infosys_db.emp_coll index: _id_ dup key: { _id: ObjectId('652a5665e9bbecdaa7edc4be') }", 'op': {'Name': 'Madhav', 'Age': 20, 'State': 'Gujarat', 'City': 'Surat', 'Profile': 'Developer', 'Salary': 20000, 'Experience': 3, 'Skills': ['PHP', 'MySQL', 'Python'], '_id': ObjectId('652a5665e9bbecdaa7edc4be')}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

# Reading Documents

In [13]:
result=emp_coll.find()

In [11]:
infosys_db.list_collection_names()

['emp_coll']

In [12]:
#Accessing Collection
emp_coll=infosys_db['emp_coll']

In [14]:
result

In [15]:
for data in result:
    print(data)

{'_id': ObjectId('652a5647e9bbecdaa7edc4bd'), 'Name': 'Madhav', 'Age': 20, 'State': 'Gujarat', 'City': 'Surat', 'Profile': 'Developer', 'Salary': 20000, 'Experience': 3, 'Skills': ['PHP', 'MySQL', 'Python']}
{'_id': ObjectId('652a5665e9bbecdaa7edc4be'), 'Name': 'Madhav', 'Age': 20, 'State': 'Gujarat', 'City': 'Surat', 'Profile': 'Developer', 'Salary': 20000, 'Experience': 3, 'Skills': ['PHP', 'MySQL', 'Python']}
{'_id': ObjectId('652a5665e9bbecdaa7edc4bf'), 'Name': 'Dharmik', 'Age': 20, 'State': 'Gujarat', 'City': 'Surat', 'Profile': 'Developer', 'Salary': 110000, 'Experience': 3, 'Skills': ['PHP', 'MySQL', 'HTML']}
{'_id': ObjectId('652a5665e9bbecdaa7edc4c0'), 'Name': 'Vivek', 'Age': 20, 'State': 'Gujarat', 'City': 'Surat', 'Profile': 'Developer', 'Salary': 10000, 'Experience': 3, 'Skills': ['PHP', 'HTML']}

In [16]:
emp_coll.find_one()

{'_id': ObjectId('652a5647e9bbecdaa7edc4bd'),
 'Name': 'Madhav',
 'Age': 20,
 'State': 'Gujarat',
 'City': 'Surat',
 'Profile': 'Developer',
 'Salary': 20000,
 'Experience': 3,
 'Skills': ['PHP', 'MySQL', 'Python']}

In [19]:
emp_coll.find_one({"Name":"Madhav"})

{'_id': ObjectId('652a5647e9bbecdaa7edc4bd'),
 'Name': 'Madhav',
 'Age': 20,
 'State': 'Gujarat',
 'City': 'Surat',
 'Profile': 'Developer',
 'Salary': 20000,
 'Experience': 3,
 'Skills': ['PHP', 'MySQL', 'Python']}

In [27]:
import numpy as np
arr=np.array([[1,2,3],[2,1,5]])
type(arr)
#print (arr)

numpy.ndarray

In [31]:
import numpy as np
arr=np.array(([[1,2,3],[2,1,5]]),([[1,2,3],[2,1,5]]),([[1,2,3],[2,1,5]]))
type(arr)
#print (arr)

TypeError: array() takes from 1 to 2 positional arguments but 3 were given

TypeError: _save_dispatcher() missing 1 required positional argument: 'arr'