# Lab 1 - Demonstrating Python integration with MongoDB

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\admin\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\admin\anaconda3\lib\site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

# Import pymongo

In [14]:
import pymongo

In [20]:
myclient = pymongo.MongoClient("mongodb://localhost:27017")

# listing all the database

In [31]:
myclient.list_database_names()

['admin', 'config', 'local', 'tcs_db']

In [39]:
my_db=myclient['tcs_db']

In [40]:
tcs_db=myclient['tcs_db']

In [41]:
emp_coll=tcs_db['emp_coll']

In [42]:
document = {
    "Name":"Madhav",
    "Age":20,
    "State":"Gujarat",
    "City":"Surat",
    "Profile":"Developer",
    "Salary":20000,
    "Experience":3,
    "Skills":["PHP","MySQL","Python"]
}

In [43]:
emp_coll.insert_one(document)   #insert the document

In [49]:
emp_data=[
    {
    "Name":"Madhav",
    "Age":20,
    "State":"Gujarat",
    "City":"Surat",
    "Profile":"Developer",
    "Salary":20000,
    "Experience":3,
    "Skills":["PHP","MySQL","Python"]
    },
    {
    "Name":"Dharmik",
    "Age":20,
    "State":"Gujarat",
    "City":"Surat",
    "Profile":"Developer",
    "Salary":110000,
    "Experience":3,
    "Skills":["PHP","MySQL","HTML"]
    },
    {
    "Name":"Vivek",
    "Age":20,
    "State":"Gujarat",
    "City":"Surat",
    "Profile":"Developer",
    "Salary":10000,
    "Experience":3,
    "Skills":["PHP","HTML"]
    }
]

In [51]:
emp = emp_coll.insert_many(emp_data)

In [50]:
tcs_db.list_collection_names()

['emp_coll']

In [52]:
emp_coll.find()

In [56]:
import numpy as np
data=np.array([12,18,25,30,15,21])
mean = np.mean(data)
print("Mean:",mean)

Mean: 20.166666666666668