# Lab 3 - Working with Text Data and Statistical Functions in Pandas

In [7]:
import pandas as pd
import numpy as np
s=pd.Series(["Madhav","Naresh","Rana",np.nan,'1234'])
print("Lower Case:\n",s.str.lower())
print("Upper Case:\n",s.str.upper())

Lower Case:
 0    madhav
1    naresh
2      rana
3       NaN
4      1234
dtype: object
Upper Case:
 0    MADHAV
1    NARESH
2      RANA
3       NaN
4      1234
dtype: object

In [14]:
data = {"Name":['Madhav','BOB','RANA','Dharmik'],"Age":[25,14,30,20]}
df=pd.DataFrame(data)
df['Name_Is_Upper']=df['Name'].str.isupper()
df

      Name  Age  Name_Is_Upper
0   Madhav   25          False
1      BOB   14           True
2     RANA   30           True
3  Dharmik   20          False

In [15]:
data = {"ID":['123','ABC','456','789'],"Value":['42','XYZ','101','246']}
df=pd.DataFrame(data)
df['ID_Is_Numeric']=df['ID'].str.isnumeric()
df['Value_Is_Numeric']=df['Value'].str.isnumeric()
df

    ID Value  ID_Is_Numeric  Value_Is_Numeric
0  123    42           True              True
1  ABC   XYZ          False             False
2  456   101           True              True
3  789   246           True              True

# Program 2 - Statistical Functions

In [20]:
import pandas as pd
data={"Math":[90,75,85,90,81],
     "Sci":[80,75,60,85,92],
     "English":[75,89,92,90,85]}
df=pd.DataFrame(data)
df.sum()

Math       421
Sci        392
English    431
dtype: int64

In [21]:
import pandas as pd

In [23]:
data={"Math":[90,75,None,90,81],
     "Sci":[80,75,None,None,92],
     "English":[75,89,None,90,85]}
df=pd.DataFrame(data)
print(df)
df.count()

   Math   Sci  English
0  90.0  80.0     75.0
1  75.0  75.0     89.0
2   NaN   NaN      NaN
3  90.0   NaN     90.0
4  81.0  92.0     85.0

Math       4
Sci        3
English    4
dtype: int64

In [24]:
data={"Math":[90,75,None,90,81],
     "Sci":[80,75,None,None,92],
     "English":[75,89,None,90,85]}
df=pd.DataFrame(data)
print(df)
df.max()

   Math   Sci  English
0  90.0  80.0     75.0
1  75.0  75.0     89.0
2   NaN   NaN      NaN
3  90.0   NaN     90.0
4  81.0  92.0     85.0

Math       90.0
Sci        92.0
English    90.0
dtype: float64

In [25]:
data={"Math":[90,75,None,90,81],
     "Sci":[80,75,None,None,92],
     "English":[75,89,None,90,85]}
df=pd.DataFrame(data)
print(df)
df.median()

   Math   Sci  English
0  90.0  80.0     75.0
1  75.0  75.0     89.0
2   NaN   NaN      NaN
3  90.0   NaN     90.0
4  81.0  92.0     85.0

Math       85.5
Sci        80.0
English    87.0
dtype: float64