# Lab 1 - Creating a Series, index and DataFrame uisng Pandas Libarary

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels=['a','b','c']
my_list=[10,20,30]
arr=np.array([10,20,30])
d={'a':10,'b':20,'c':30}
d

{'a': 10, 'b': 20, 'c': 30}

In [3]:
data=np.array(['g','e','e','k','s'])
ser=pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [5]:
my_list=[10,20,30]
ser=pd.Series(my_list)
print(ser)

0    10
1    20
2    30
dtype: int64

# Exercise 3 - Creating Index

In [7]:
import pandas as pd
data=pd.read_csv('airlines.csv')
print (data)

     Airport.Code                                       Airport.Name  \
0             ATL  Atlanta, GA: Hartsfield-Jackson Atlanta Intern...
1             BOS                    Boston, MA: Logan International
2             BWI  Baltimore, MD: Baltimore/Washington Internatio...
3             CLT     Charlotte, NC: Charlotte Douglas International
4             DCA  Washington, DC: Ronald Reagan Washington National
...           ...                                                ...
4403          SAN             San Diego, CA: San Diego International
4404          SEA          Seattle, WA: Seattle/Tacoma International
4405          SFO     San Francisco, CA: San Francisco International
4406          SLC   Salt Lake City, UT: Salt Lake City International
4407          TPA                     Tampa, FL: Tampa International

     Time.Label  Time.Month Time.Month Name  Time.Year  \
0       2003/06           6            June       2003
1       2003/06           6            June       2003
2       2003/06           6            June       2003
3       2003/06           6            June       2003
4       2003/06           6            June       2003
...         ...         ...             ...        ...
4403    2016/01           1         January       2016
4404    2016/01           1         January       2016
4405    2016/01           1         January       2016
4406    2016/01           1         January       2016
4407    2016/01           1         January       2016

      Statistics.# of Delays.Carrier  Statistics.# of Delays.Late Aircraft  \
0                               1009                                  1275
1                                374                                   495
2                                296                                   477
3                                300                                   472
4                                283                                   268
...                              ...                                   ...
4403                             280                                   397
4404                             357                                   513
4405                             560                                   947
4406                             338                                   540
4407                             410                                   342

      Statistics.# of Delays.National Aviation System  \
0                                                3217
1                                                 685
2                                                 389
3                                                 735
4                                                 487
...                                               ...
4403                                              171
4404                                              351
4405                                             2194
4406                                              253
4407                                              312

      Statistics.# of Delays.Security  ...  Statistics.Flights.Delayed  \
0                                  17  ...                        5843
1                                   3  ...                        1623
2                                   8  ...                        1245
3                                   2  ...                        1562
4                                   4  ...                        1100
...                               ...  ...                         ...
4403                                2  ...                         871
4404                                2  ...                        1274
4405                                2  ...                        3825
4406                                3  ...                        1175
4407                                2  ...                        1095

     Statistics.Flights.Diverted  Statistics.Flights.On Time  \
0                             27                       23974
1                              3                        7875
2                             15                        6998
3                             14                        7021
4                             18                        5321
...                          ...                         ...
4403                          18                        5030
4404                          31                        8330
4405                          20                        8912
4406                          14                        7426
4407                           7                        4748

      Statistics.Flights.Total  Statistics.Minutes Delayed.Carrier  \
0                        30060                               61606
1                         9639                               20319
2                         8287                               13635
3                         8670                               14763
4                         6513                               13775
...                        ...                                 ...
4403                      6016                               15482
4404                      9739                               25461
4405                     13206                               43641
4406                      8699                               32066
4407                      5996                               22557

      Statistics.Minutes Delayed.Late Aircraft  \
0                                        68335
1                                        28189
2                                        26810
3                                        23379
4                                        13712
...                                        ...
4403                                     23023
4404                                     32693
4405                                     72557
4406                                     33682
4407                                     21164

      Statistics.Minutes Delayed.National Aviation System  \
0                                                118831
1                                                 24400
2                                                 17556
3                                                 23804
4                                                 20999
...                                                 ...
4403                                               6021
4404                                              11466
4405                                             153416
4406                                               8057
4407                                              11423

      Statistics.Minutes Delayed.Security  Statistics.Minutes Delayed.Total  \
0                                     518                            268764
1                                      99                             77167
2                                     278                             64480
3                                     127                             65865
4                                     120                             52747
...                                   ...                               ...
4403                                   79                             46206
4404                                   73                             74017
4405                                   66                            278610
4406                                   57                             76978
4407                                   37                             57774

      Statistics.Minutes Delayed.Weather
0                                  19474
1                                   4160
2                                   6201
3                                   3792
4                                   4141
...                                  ...
4403                                1601
4404                                4324
4405                                8930
4406                                3116
4407                                2593

[4408 rows x 24 columns]

In [10]:
data.head()
data.tail()
data.describe()

,Time.Month,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,Statistics.# of Delays.Weather,Statistics.Carriers.Total,Statistics.Flights.Cancelled,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
count,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000,4408.000000
mean,6.578947,2009.243421,574.632486,789.078947,954.580309,5.575544,78.216878,12.253403,213.558076,2402.000454,27.880898,9254.420826,11897.860254,35021.369782,49410.274955,45077.107985,211.769737,135997.535163,6276.982759
std,3.457890,3.667475,329.616475,561.798420,921.907801,6.007046,75.181726,2.289861,288.873477,1710.947613,36.356399,5337.214211,6861.691876,24327.721037,38750.017050,57636.745683,257.174789,113972.276370,6477.417169
min,1.000000,2003.000000,112.000000,86.000000,61.000000,-1.000000,1.000000,3.000000,3.000000,283.000000,0.000000,2003.000000,2533.000000,6016.000000,5121.000000,2183.000000,0.000000,14752.000000,46.000000
25%,4.000000,2006.000000,358.000000,425.000000,399.000000,2.000000,33.000000,11.000000,58.000000,1298.750000,8.000000,5708.750000,7400.000000,19530.750000,25084.250000,14389.000000,65.000000,65444.750000,2310.750000
50%,7.000000,2009.000000,476.000000,618.500000,667.500000,4.000000,58.000000,12.000000,123.000000,1899.000000,15.000000,7477.000000,9739.500000,27782.000000,37483.000000,25762.000000,141.000000,100711.000000,4298.500000
75%,10.000000,2012.000000,692.000000,959.000000,1166.000000,7.000000,98.000000,14.000000,250.000000,2950.000000,32.000000,10991.500000,13842.500000,41606.000000,59951.250000,50362.000000,274.000000,164294.750000,7846.000000
max,12.000000,2016.000000,3087.000000,4483.000000,9066.000000,94.000000,812.000000,18.000000,3680.000000,13699.000000,442.000000,31468.000000,38241.000000,220796.000000,345456.000000,602479.000000,4949.000000,989367.000000,76770.000000

# Exercise 4 - Creating a Pandas DataFrame

In [17]:
data={"Name":['Madhav','Madhavika','Naresh'],"Age":[20,2,47]}
df=pd.DataFrame(data)
df

        Name  Age
0     Madhav   20
1  Madhavika    2
2     Naresh   47