# Lab 2 - Perform Basic Python Operation

# We will cover following topics

    Python Variables.
    Python data structures

In [1]:
#Print your name # single Line Comment:
print("I am Madhav Rana")

I am Madhav Rana

# Python Variable

Variable is a container which store a value of a particular memory.

In [2]:
count = 100 #Int Assignment
kilometers = 1000.0 #float Assignment
name = 'Madhav' #String Assignment

In [4]:
print(count,kilometers,name)

100 1000.0 Madhav

In [4]:
a,b,c=1,2,"Madhav"

In [9]:
print(a,b,c,sep=',')
print(a,b,c,sep='.')
print(a,b,c,sep='\n')

1,2,Madhav
1.2.Madhav
1
2
Madhav

In [19]:
a = "Hello World!"                                                                 #String
b = 20                                                                            #int
c = 20.5                                                                          #float
d = 1j                                                                            #complex   
e = ["apple","banana","cherry"]                                                   #list
f = ("apple","banana","cherry")                                                   #tuple
g = range(6)                                                                      #range
h = {"name":"Madhav","age":20}                                                    #dict
i = {"apple","banana","cherry"}                                                   #set
j = frozenset({"apple","banana","cherry"})                                        #frozenset

# Print Data Type

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>

In [7]:
num1 = 3.14
type(num1)

float

# Python string

String are identified as a contiguous set of characters represented in the quotation mark.

In [114]:
str1 = 'Python is a programming language'

In [11]:
print(str1)

Python is a programming language

In [19]:
print(len(str1))
print(str1[5])
print(str1[-1])

32
n
e

In [117]:
print(str1[2:8])

thon i

In [32]:
# Python formate string

string1 = "{2} {0} {1}".format('Madhav','Rana','N')
print(string1)

N Madhav Rana

In [38]:
string1 = "{a} {b} {c}".format(a='Madhav',b='Rana',c='N')
print(string1)

Madhav Rana N

In [39]:
val = 'Madhav'
print(f"{val} is the student of my class.")

Madhav is the student of my class.

In [43]:
name = 'Madhav'
age = 20
print(f"Hello! My name is {name} and my age is {age}.")

Hello! My name is Madhav and my age is 20.

In [60]:
str1 = 'apple is a king of fruits'
print(str1.upper())
print(str1.lower())
print(str1.title())
print(str1.capitalize())
print(len(str1))
s=(str1.split())
print(s)
k=(str1.join(s))
print(k)

APPLE IS A KING OF FRUITS
apple is a king of fruits
Apple Is A King Of Fruits
Apple is a king of fruits
25
['apple', 'is', 'a', 'king', 'of', 'fruits']
appleapple is a king of fruitsisapple is a king of fruitsaapple is a king of fruitskingapple is a king of fruitsofapple is a king of fruitsfruits

# Python Operators

Arithmetic Operator

In [66]:
5+10

15

In [67]:
6*6

36

Assignment Operator

In [70]:
x= 10
x += 5
print(x)

15

comparision Operator

In [71]:
x = 5
y = 7
print(x == y)

False

Logical Operator

In [76]:
x = 5
print(x >3 or x < 4)

True

In [80]:
5//2

2

In [78]:
10/4

2.5

In [84]:
5**2

25

In [85]:
5**0.5

2.23606797749979

In [88]:
2+10*10+3

105

In [89]:
(2+10)*(10+3)

156

Get take a value or Input

In [96]:
x = int(input("Enter the value of x:"))
y = int(input("Enter the value of y:"))
z=x*y
print(z)

Enter the value of x:10
Enter the value of y:5
50

Python Version Check in notebook

In [98]:
from platform import python_version
print(python_version())

3.9.12

In [99]:
var1= True
var2 = False
print(type(var1))
print(type(var2))

<class 'bool'>
<class 'bool'>

In [112]:
str1 = "Gujarat"
str2 = " University"
str3 = str1 + str2                                 #Concatenation
print(str3)
str4 = str1 * 10                                   #Repeat
print(str4)

Gujarat University
GujaratGujaratGujaratGujaratGujaratGujaratGujaratGujaratGujaratGujarat