# Lab 1 - Python Control Statements

# if,else and elif statement

# Conditional Statements

In [1]:
if True:
    print("Yes, Its TRUE...!")

Yes, Its TRUE...!

In [61]:
a = 33
b = 200
if b>a:
    pass  #Pass Statement

In [5]:
x=False
if x:
    print("Yes, Its TRUE...!")
else:
    print("its FALSE")

its FALSE

In [11]:
x=10
if x<20:
    print("X is Less than 20")
else:
    print("X is Greater than 20")

X is Less than 20

In [17]:
city="Surat"
if city == "Baroda":
    print("Welcome to Baroda..")
elif city == "Ahemadabad":
    print("Welcome to Ahemadabad..")
elif city == "Surat":
    print("Welcome to Surat..")   
else:
    print("Welcome to my Home.")

Welcome to Surat..

# Python Loop

# While Loop

In [19]:
count = 0
while (count<9):
    print("The count is:",count)
    count = count + 1
print("Good Bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good Bye!

In [23]:
i=0
n=10
while i<=10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

# For Loop

In [26]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [39]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in range(5,10):
    print(i)

5
6
7
8
9

In [33]:
for letter in 'Python':
    print(letter)

P
y
t
h
o
n

In [36]:
fruits=['apple','banana','grapes','cherry']
for fruit in fruits:
    print(fruit)

apple
banana
grapes
cherry

In [45]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in lst:
    if i%2==0:
        print('{} is Even Number'.format(i))
    else:
        print('{} is Odd Number'.format(i))

1 is Odd Number
2 is Even Number
3 is Odd Number
4 is Even Number
5 is Odd Number
6 is Even Number
7 is Odd Number
8 is Even Number
9 is Odd Number
10 is Even Number

In [50]:
ans = 0
for i in lst:
    ans = ans + i
    i = i + 1
print (ans)

55

In [52]:
ans = 0
for i in lst:
    ans = i**2
    print (ans)
    i = i + 1

1
4
9
16
25
36
49
64
81
100

In [59]:
sqr_lst=[x**2 for x in range(0,11)]
sqr_lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]